$monserat-font: 'Montserrat', sans-serif ;
/*
**************************** COLORS ****************************
*/
$white-color:#ffffff;
$tittle-color: #237249;
$text-color: #D9D9D9;




/**************************** FONTS ****************************
*/
$font-weight-extrabold:800;
$font-weight-medium:500;
$font-weight-regular:400;

/**************************** TITTLE****************************
*/

$tittle-middle-size:8rem;
$tittle-middle-line:1.1;

$tittle-normal-size:3.2rem;
$tittle-normal-line:1.62;

$tittle-easy-size:3.2rem;
$tittle-easy-line:1.06;

/**************************** TEXT ****************************
*/

$text-middle-size:6.2rem;
$text-middle-line:1.1;

$text-normal-size:2rem;
$text-normal-line:1.63;

$navbar-size:1.9rem;
$navbar-line:1.21;